@{
    Page.Title = "RadioButtons";
    Layout = "~/_LayoutPage.cshtml";
}
@section banner{
    <h1>RadioButtons</h1> }

@if (IsPost)
{
    var langaugechoice = Request.Form["LanguageGroup"];
    var scriptchoice = Request.Form["ScriptGroup"];

    if (langaugechoice.IsEmpty() || scriptchoice.IsEmpty())
    {
        //the user needs to choice one item from both lists
        //if not send an error message to the user
        <p><span style="color:firebrick">Make a selection from both coding choices</span></p>
    }
    else
    {
        //if the user chooces c# put output a positive message otherwise a negative message
        //if the user chooces Razor put output a postive message otherwise a negative message
        if (langaugechoice.Equals("C#", StringComparison.OrdinalIgnoreCase))
        {
            <p><span style="color:forestgreen">You will greatly enjoy the CPSC1517 course as we use C# </span></p>
        }
        else
        {
            <p><span style="color:firebrick">To bad. Unfornatunately we use C#</span></p>
        }

        if (scriptchoice.Equals("RZ", StringComparison.OrdinalIgnoreCase))
        {
            <p><span style="color:forestgreen">You will greatly enjoy the CPSC1517 course as we use Razor </span></p>
        }
        else
        {
            <p><span style="color:firebrick">To bad. Unfornatunately we use Razor</span></p>
        }
    }
}
<form id="theForm" action="" method="post">
    <div class="row">
        <div class="col-sm-offset-1">
            <label id="ForLanguageGroup">Select your favourite progamming langauge</label>
            <br />
            <input type="radio" name="LanguageGroup" value="C#" />C#<br />
            <input type="radio" name="LanguageGroup" value="VB" />Visual Basic<br />
            <input type="radio" name="LanguageGroup" value="Obc" />Objective<br />
            <input type="radio" name="LanguageGroup" value="CO" />COBOL<br />
            <input type="radio" name="LanguageGroup" value="F4" />Fortran<br />
            <input type="radio" name="LanguageGroup" value="PAS" />Pascal<br /><br />
            <label id="ForScriptGroup">Select your scripting code</label>
            <br />
            <input type="radio" name="ScriptGroup" value="js" />Javascript<br />
            <input type="radio" name="ScriptGroup" value="RZ" />Razor<br />
            <input type="radio" name="ScriptGroup" value="PHP" />PHP<br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3">
            <button type="submit" id="formbutton" name="formbutton" class="btn btn-primary" value="Data">Submit</button>
        </div>
    </div>
</form>